:root {
  --primary-dark: #1e1e2f;
  --accent: #00bfa6;
  --text-light: #ffffff;
  --text-muted: #b0bec5;
  --active-bg: #2b2b3d;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background: var(--primary-dark);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #676767;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: var(--text-muted);
  padding: 20px 50px;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
}

.navbar a::after {
  background-color: var(--accent);
  display: none;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  color: var(--text-light);
}

.navbar a.active {
  background-color: var(--active-bg);
  color: var(--text-light);
  font-weight: 600;
  box-shadow: inset 0 0 0 2px var(--accent);
}


.navbar-mobile-title {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--text-light);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 12px 0;
  z-index: 999;
  border: 2px solid var(--accent);  
  border-radius: 0 0 10px 10px;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}