.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    background-color: #1E1E2F;
}

.home__content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home__content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #a0a0a0;
  width: 1000px;
}

.home__button {
  background-color: #6c63ff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}


