.project-grid {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  -webkit-overflow-scrolling: touch;
    justify-content: center;
  align-items: flex-start;

}

.project-card {
  flex: 0 0 auto;
  width: 300px;
  background: white;
  color: #222;
  border-radius: 8px;
  padding: 2rem;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  line-height: 1.6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-image {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  display: inline-block;
  margin-top: 1rem;
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.project-grid::-webkit-scrollbar {
  height: 8px;
}
.project-grid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
